@model IEnumerable<LibraryBook.Models.Genre>

@{
    ViewData["Title"] = "Index";
}

<h1>Жанры</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <link rel="stylesheet" href="~/css/Delete.css"/>
                <link rel="stylesheet" href="~/css/Edit.css"/>
                <link rel="stylesheet" href="~/css/Details.css"/>
                <a class="knopka1" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> 
                <a class="knopka2" asp-action="Details" asp-route-id="@item.Id">Детали</a> 
                <a class="knopka3" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <link rel="stylesheet" href="~/css/Style_Create.css"/>
    <a class="knopka" asp-action="Create">Добавить новый жанр</a>
            </p>