@model LibraryBook.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактировать книгу</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" type="date"  />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
                  <script>
                    document.getElementById("DateCreated").value ="@Model.DateCreated.ToString("yyyy-MM-dd")";
                </script>
            </div>
            <div class="form-group">
                <label asp-for="Pages" class="control-label"></label>
                <input asp-for="Pages" class="form-control" />
                <span asp-validation-for="Pages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <link rel="stylesheet" href="~/css/Edit.css"/>
                 <label asp-for="Image" class="control-label" ></label>
                 <br />
                @if (Model.Image != null)
                {
                     <img src="@Model.Image" class="form-group4" />
                     @Html.HiddenFor(model=>model.Image)
                }
               
                <input name="file" id="file" type="file" class="form-control inCon" />
                <span asp-validation-for="Image" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="TextFile" class="control-label"></label>
                <br />
                @if (Model.TextFile != null)
                {
                     <img src="@Model.TextFile" class="form-group4" />
                     @Html.HiddenFor(model=>model.TextFile)
                }
                 <input name="txtfile" id="txtfile" type="file" class="form-control" />
                <span asp-validation-for="TextFile" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label for="MoreGenre" class="control-label"></label>
                  @Html.ListBox("MoreGenre", (IEnumerable<SelectListItem>)@ViewBag.MoreGenre, new { htmlAttributes = new { @class = "form-control"} })
                <script>
                    document.getElementById("MoreGenre").classList = "form-control";
                    document.getElementById("MoreGenre").selected = @ViewBag.MoreGenre;
                </script>
            </div>
            <div class="form-group2">
                <label asp-for="AuthorId" class="control-label"></label>
                @Html.DropDownListFor(model=>model.AuthorId,(IEnumerable<SelectListItem>)ViewBag.AuthorId,String.Empty, new{htmlAttributes = new{ @class="form-control"}})
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <link rel="stylesheet" href="~/css/dobAuthor.css"/>
                <input type="submit" value="Сохранить" class="knopka11" />
            </div>
        </form>
    </div>
</div>

<div class="rastoyanie">
    <link rel="stylesheet" href="~/css/Edit.css" asp-append-version="true" />
    <a asp-action="Index"  class="knopka1" >Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
