@model IEnumerable<LibraryBook.Models.Book>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Edit.css"/>
<h1>Книги</h1>


<table class="table align-middle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="my-tr">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
               <img src="@item.Image" width="150px" height="200px"/>
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Full)
            </td>
            <td>
                <link rel="stylesheet" href="~/css/Delete.css"/>
                <link rel="stylesheet" href="~/css/Edit.css"/>
                <link rel="stylesheet" href="~/css/Details.css"/>
                <a class="knopka1" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> 
                <a class="knopka2" asp-action="Details" asp-route-id="@item.Id">Детали</a> 
                <a class="knopka3" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <link rel="stylesheet" href="~/css/Style_Create.css"/>
    <a class="knopka" asp-action="Create">Добавить новую книгу</a>
            </p>
